.o_web_client {
  background-color: transparent;
}

.scf-app table {
  margin: 0 auto;
}

.scf-app img {
  border-style: groove;
}

.scf-app .scf-table input {
  height: 20px;
  width: 100px;
}
.scf-table img{
  height: 100px;
  width: 100px;
}

.scf-bet-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.scf-bet-button .bet-button {
  border: none;
  background: #51A3B8;
  font-size: 20px;
  color: white;
  border-radius: 7px;
  box-shadow: 0 7px 0px #387796;
  display: inline-block;
  transition: all .2s;
  position: relative;
  padding: 20px 25px;
  position: relative;
  top: 0;
  cursor: pointer;
  margin: 0 20px;
}

.scf-bet-button .bet-button:active {
  border: none;
  top: 3px;
  box-shadow: 0 2px 0px #387796;
  transition: all .2s;
}

.scf-bet-button .cancel-button {
  border: none;
  background: #bd333e;
  font-size: 20px;
  color: white;
  border-radius: 7px;
  box-shadow: 0 7px 0px #d45b65;
  display: inline-block;
  transition: all .2s;
  position: relative;
  padding: 20px 25px;
  position: relative;
  top: 0;
  cursor: pointer;
  margin: 0 20px;
}

.scf-bet-button .cancel-button:active {
  border: none;
  top: 3px;
  box-shadow: 0 2px 0px #d45b65;
  transition: all .2s;
}

.scf-alert {
  text-align: center;
}

.scf-alert span {
  font-size: 30px;
  font-weight: bold;
}

.marquee-banner {
  margin-top: 25px;
}

.user-infor {
  text-align: right;
  font-size: 10px;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 5px;
}

.plate {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  background-image: url('/shrimp_crab_fish/static/src/image/plate.png');

}

.plate>img:first-child {
  width: 30px;
  position: absolute;
  top: 30%;
  left: 22%;
}

.plate>img:nth-child(2) {
  width: 30px;
  position: absolute;
  top: 30%;
  left: 55%;
}

.plate>img:nth-child(3) {
  width: 30px;
  position: absolute;
  top: 58%;
  left: 38%;
}

.bow{
  z-index: 12;
  position: absolute;
  top: -8px;
}

.bow>img{
  border: none;
  width: 150px;
  position:relative;
  cursor: grabbing;
}
.no-pointer-event{
  pointer-events:none;
}

.bow-animation{
  animation: shaking 0.15s 10;
}

@keyframes shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

#bet-button:disabled,
#bet-button[disabled]{
  border: none;
  background: #51A3B8;
  font-size: 20px;
  color: white;
  border-radius: 7px;
  box-shadow: 0 7px 0px #387796;
  display: inline-block;
  transition: all .2s;
  position: relative;
  padding: 20px 25px;
  position: relative;
  top: 0;
  cursor: pointer;
  margin: 0 20px;
  opacity: 0.7;
}

#cancel-button:disabled,
#cancel-button[disabled]{
  border: none;
  background: #bd333e;
  font-size: 20px;
  color: white;
  border-radius: 7px;
  box-shadow: 0 7px 0px #d45b65;
  display: inline-block;
  transition: all .2s;
  position: relative;
  padding: 20px 25px;
  position: relative;
  top: 0;
  cursor: pointer;
  margin: 0 20px;
  opacity: 0.7;
}

.scf-countdown{
  text-align:center;
}

#countdown{
  background: lightblue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
}
